#po-list {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.Modal {
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    border-radius: 5px;
    background-color: #fff;
}

.Modal form {

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.Modal form button {

    margin-top: 20px;

}

.Overlay {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5)
}

#po-list article {
    /* margin-top: 10px; */
    
    width: 50%;
    background-color: #fff;
    
   
    /* border: 1px solid #ddd; */
}

#po-list article section{
 
   
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;

    margin-top: 10px;
}

#po-list article header {
    
    padding: 10px;
    border-bottom: 1px solid #ddd;
    background-color: #033b5c;
    color: #fff;
}

#po-list article .orc-info {

    padding: 13px;

    background-color: #033b5c;
    color: #fff;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#po-list article .orc-info strong {
    font-size: 16px;
}

#po-list article .list-title {
    padding: 10px;
    margin: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#po-list article .lista {
   background-color: transparent;
   margin: 0px;
}

